@import "../../global.scss";
$SeconderyColour: #595c59;
.portfolio{
    background-color: rgb(255, 255, 255);
    display: flex;
    min-height: 800px;
    padding-bottom: 50px;
    flex-direction: column;
    align-items: center;
    
    hr{
        background-color: #000000;
        color: #ffffff;
        width: 150%;
        height: 1.8px;

    }
    padding: 0 0 100px;

    .cant{

        min-width: 100%;
        
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 60px;


        }
        ul{
            margin: 10px;
            padding: 0;
            list-style: none;
            display: flex;
            flex-wrap: wrap;

        }
    }
    .container{
        padding-left: 5%;
        padding-right: 5%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        .Content{
            .icon{
                cursor: pointer;

            }
            
        }






        .added{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            .underBar{
                //padding-top: 5px;
                //padding: 3px 0px 3px 0;
                padding-left: 20px;
                display: flex;
                justify-content: left;
                align-items: center;
                max-width: 300px;
                flex-wrap: wrap;
                h4{
                    border-radius: 14px;
                    border: 6px solid $SeconderyColour;
                    background-color: $SeconderyColour;

                    margin: 1px 3px 1px 3px;
         
                    color: white;
                    font-size: 13px;


                }
                
            }
            
            .item{
                position: relative;
                overflow-x: hidden;
                width: 350px;
                height: 300px;
                border-radius: 20px;
                border: 5px solid rgb(49, 49, 49);
                margin: 10px 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                color: white;
                transition: all 0.5s ease;
                cursor: pointer;
                h3{
                    border-radius: 20px;
                    border: 9px solid $mainColour;;
                    background-color: $mainColour;;
                    position: absolute;
                    font-size: 20px;
                    z-index: 1;

                }
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: 1;
                }
                .cons{
                    color: white;
                    background-color: transparent;
                    width: 200px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50px;
                    z-index: 0;
                    .icon{
                        width: 45px;
                        height: 45px;
                        color: white;
                        
                        margin: 0px 25px;


                    }
                    
                }

                &:hover{
                    cursor: default;

                    background-color: $mainColour;
                    img{
                        opacity: 0.1;
                        z-index: 1;
                    }
                    h3{
                        z-index: 0;
                        opacity: 0;
                    }
                    .cons{
                        z-index: 1;
                        .icon{
                            &:hover{
                                cursor: pointer;
                
                
                
                            }
                        }
                    }


                }
            }
        }
    



        
    }

}