@import "../../global.scss";
$SeconderyColour: #8a8a8a;
.about{
    background-color: #444444;
    display: flex;
    min-height: 400px;
    //padding-bottom: 50px;
    flex-direction: column;
    
    align-items: center;
    
    hr{

        display: block;
        border: 0;
        border-top: 0px solid rgb(255, 255, 255);

        padding: 0;
        padding-bottom: 0%;
        
        background-color: #ffffff;
        width: 100%;
        height: 0px;

    }
    //padding: 0 0 100px;

    .head{
        background-color: rgb(42,42,42);
        min-width: 100%;
        //padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        h1{
            text-shadow: 0 0 4px rgb(255, 255, 255);
            font-size: 60px;
            color:rgb(255, 255, 255);


        }
    }




    .text{
        padding: 3% 5% 2% 5%;
        text-shadow: 0 0 1px rgb(255, 255, 255);

        li{
            border-radius: 0px;
            cursor: default;
            list-style: none;
            font-size: 35px;
            color: white;
            list-style-type: none;
        }
        h3{
            outline: 5px solid rgb(43, 43, 43);
            outline-offset: 3px;
            border-radius: 10px;
            background-color: rgb(84, 84, 84);
            text-shadow: 0 0 1px rgb(199, 196, 196);
            font-weight: normal;
            color: rgb(255, 255, 255);
            font-size: 35px;

        }
    }




}