.App{
    height: 100vh;

    
    .sections{

        width: 100%;
        min-height: calc(100vh - 60px);
        background-color: rgb(255, 255, 255);
        position: relative;
        top: 60px;
        //scroll-behavior: smooth;
        //scroll-snap-type: y mandatory;
        scrollbar-width: none;
       // &::-webkit-scrollbar{
         //   display: none;
        //}
        
    }
}